<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"  [routerLink]="['/query-page']">query page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  [routerLink]="['/report-page']">report-page</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div> <!-- /container -->

</main>

